.hero {
  background-color: var(--color-black);
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  color: var(--color-white);
}
h1 {
  font-family: var(--font);
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
}
